:root{
    --main-bg: #3A393D;
    --primary: #236191;
    --secondary: #49617C;
    --accent: #44769C;
    --text: #F1EDF7;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


* {
    box-sizing: border-box;
}



html{
    background-color: var(--main-bg);
    max-width: unset;
    margin: 0;
    font-family: var(--font);
}

body{
    margin: 0;
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {

    flex:1;
    padding: 1rem;

}

/* HEADER **************************************************/

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary);
    max-width: unset;
    color: var(--text);
    font-family: var(--font);
    padding-right: 1rem;

}

header img {
    width: 5rem;

}

header h1 {
    margin: 0;
}

header h1 .full-name {
    display: none;
}

@media screen and (min-width: 60rem) {
    header h1 .full-name {
        display: block;
    }
    header h1 .abbreviation {
        display: none;
    }
}

header a {

    text-decoration: none;
    color: var(--text);

}


/* NAV ****************************************************/

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    color: var(--text);
    text-decoration: none;
    background-color: var(--accent);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    color: var(--text);
    text-decoration: underline;
}

/* Main ********************************************/

#hero {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    object-position: center 20%;
}

#eventButton {

    text-decoration: none;
    color: var(--text);
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem auto;
    display: block;
    width: fit-content;
}

#eventList {

    list-style: none;
    display: flex;
    margin: 1rem;

}

/* Events *********************************************************/

#events{

    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;

}

.event{
    
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 10px;
    max-width: 25rem;
    width: 100%;

}

.eventButtons {

    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;


}

.eventButtons a {

    text-decoration: none;
    color: var(--text);
    background-color: var(--accent);
    padding: 1rem;
    max-width: fit-content;
    border-radius: 10px;
    

}

#boatButton a {

    text-decoration: none;
    color: var(--text);
    background-color: var(--secondary);
    padding: 1rem;
    max-width: fit-content;
    border-radius: 10px;

}

#boatButton {

    display: flex;
    justify-content: center;
    gap: 2rem;
}

.boatButton2 {

    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;

}

.boatButton2 a {

    text-decoration: none;
    color: var(--text);
    background-color: var(--accent);
    padding: 1rem;
    max-width: fit-content;
    border-radius: 10px;

}

.deleteButton {

    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;

}

.deleteButton a {

    text-decoration: none;
    color: var(--text);
    background-color: #b61f1f;
    padding: 1rem;
    max-width: fit-content;
    border-radius: 10px;

}

#boatButton3 {

    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;

}

#boatButton3 a {

    text-decoration: none;
    color: var(--text);
    background-color: var(--secondary);
    padding: 1rem;
    max-width: fit-content;
    border-radius: 10px;

}


.eventName{
    /* max-width: fit-content; */
    background-color: var(--accent);
    /* padding: 0 9rem; */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 0;
    text-align: center;
}

#eventHeader{

display:flex;
justify-content: center;
margin-top: 3rem;
width: 100%;

}

.button1 {

text-decoration: none;
color: var(--text);

}



.button1:hover {

    background-color: var(--accent);
    border-radius: 10px;
    padding: 0.2rem;
    }

#memberInfo{
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 10px;
    max-width: 25rem;
    width: 100%;
}

#memberMain{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;

}



.infoBox{
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 10px;
    max-width: 25rem;
    width: 100%;
}

#eventMain{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;

}



/* ADMIN PAGE ***********************************************/

#adminHeader{
    display:flex;
justify-content: center;
margin-top: 3rem;

width: 100%;
}

.admin{

    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;

}

.eventAdmin{

    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 10px;
    max-width: 25rem;
    width: 100%;

}

/* FORMs **********************************************************/
form{

    width: max-content;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--accent);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    

}

#seperateBox{

    width: max-content;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--accent);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    

}



input,select{
    margin-bottom: 1rem;
    padding: 0.25rem;
    border-radius: 4.5px;
    border: none;
}

/* FOOTER ****************************************************/

footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--primary);
    font-size: 0.8rem;
    color: var(--text);
}
